<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"/>
  <title>Detail třídy</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" >Seznam tříd</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
    </div>
  </div>
</nav>

<main class="container">
<div class="page-header">
  <h1 th:text="${trida.nazev}">Jméno třídy</h1>
  <h2 th:text="${trida.tridniUcitel.getCeleJmeno()}">Třídní učitel</h2>
</div>
</main>

<main class="container">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Seznam studentů</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${trida.getStudenti()}">
      <td><a th:href="@{/{tridaId}/{studentId}(tridaId=${trida.id}, studentId=${student.id})}" th:text="${student.getCeleJmeno()}">Jméno a příjmení studenta</a></td>
    </tr>
    </tbody>
  </table>
</main>
</body>
</html>